---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Слово</th>
      <th>Вимова</th>
      <th>Значення</th>
      <th>Важливо</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="len" />
      <td>лен</td>
      <td>одяг</td>
      <td>Як у "зелений"</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>ян</td>
      <td>людина</td>
      <td>Як у "п'яний", <b>j</b> завжди вимовляється</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="waso" />
      <td>уа́со</td>
      <td>птах</td>
      <td><b>w</b> схожа на у/в у словах "увічливий", "ввічливий"</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kute" />
      <td>ку́те</td>
      <td>вухо</td>
      <td>Буква <b>e</b> завжди <b>вимовляється</b>, не так як в англійській</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>на́мпа</td>
      <td>цифра</td>
      <td>Хоча пишемо й <b>np</b>, але зазвичай кажемо <b>мп</b></td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>ка́лама</td>
      <td>звук</td>
      <td>Упевніться у правильному наголосі</td>
    </tr>
  </tbody>
</table>
