---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Salita</th>
      <th>Kahulugan</th>
      <th>Nakakatulong na tip</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="mi" />
      <td>me</td>
      <td>Ang patinig ay magkatulad sa Ingles, pero iba ang pagbaybay!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="ken" />
      <td>can</td>
      <td>Ang patinig ay magkatulad sa Ingles, pero iba ang pagbaybay!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>tao</td>
      <td>Alalahin mo kung paano Ibigkas ng letrang <b>j</b> </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kute" />
      <td>hear</td>
      <td>Ang letrang -<b>e</b> sa dulo ay totoong patinig! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>number</td>
      <td
        >Ano nga pala, binabaybay rin natin ang <b>np</b>, pero madalas naming
        binibigkas ito ng <b>mp</b>!
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>tunog</td>
      <td
        >I-test mo ang abilidad mo na Ibigyang-diin mo ang unang pantig/silaba!</td
      >
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>butiki</td>
      <td>Ang mga salita ay puwedeng magsimula sa pantig!</td>
    </tr>
  </tbody>
</table>
