---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Meaning</th>
      <th>Helpful tips</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="mi" />
      <td>me</td>
      <td>The vowel is similar to English, but the spelling is different!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="ken" />
      <td>can</td>
      <td>The vowel is similar to English, but the spelling is different!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>person</td>
      <td>Remember how the letter <b>j</b> is pronounced! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kute" />
      <td>hear</td>
      <td>The letter - <b>e</b> on the end is a real vowel! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>number</td>
      <td
        >By the way, we spell <b>np</b>, but we usually pronounce <b>mp</b>!
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>sound</td>
      <td>Test your ability to stress the first syllable!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>lizard</td>
      <td>Words can begin on a vowel!</td>
    </tr>
  </tbody>
</table>
