@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
    font-family: "nasin-nanpa";
    src: url("nasin-nanpa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+F1900-F19FF;
}

:root {
    --bg: #ffffff;
    --bg-1: #f7f7f7;
    --bg-2: #eeeeee;
    --bg-3: #ccc;
    --txt: #080808;
    --grey: #333;
    --grey-1: #999;
    --accent: #de6500;
    --accent-1: #f4cbaa;
}

body {
    margin: 0px;
    font-family: "nasin-nanpa", "Lato", sans-serif;
    color: var(--txt);
    line-height: 1.7em;
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }
}

img {
    max-width: 100%;
}

main {
    max-width: 700px;
    margin: auto;
    margin-bottom: 35px;
    padding: 0px 10px;
    text-align: justify;
}
a {
    color: var(--accent);
    text-decoration: underline dotted;
    text-underline-position: under;
    font-weight: bold;
}

a:visited {
    color: var(--accent);
}

button {
    color: inherit;
}

h1 {
    text-align: center;
    margin: 0.75em 0;
    font-size: 1.75em;
    line-height: 120%;
}

table {
    width: 100%;
    text-align: initial;
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
td {
    border-collapse: collapse;
    padding: 5px 10px;
}
th,
tr:nth-child(even) {
    background-color: var(--bg-1);
}

.spoiler {
    background-color: #aaa;
    color: transparent;
    cursor: pointer;
    transition:
        color 0.1s ease-in-out,
        background-color 0.1s ease-in-out;
    user-select: none;
}

.spoiler.revealed {
    color: inherit;
    background-color: #ddd;
}

.sp {
    font-size: 150%;
    /* line-height: 1.8; */
}
.sl {
    font-style: italic;
}

details {
    border-left: 2px dotted var(--grey);
    text-align: initial;
    margin: 10px 0px;
}
/* details: */
details * {
    padding: 10px;
    margin: 0;
}
.sp-details *:not(summary) {
    font-size: 150%;
}
details *:not(summary):nth-child(odd) {
    background-color: var(--bg-1);
}
summary {
    background-color: var(--bg-2);
    border-bottom: 1px solid black;
    font-weight: bold;
}

.exercise {
    padding: 20px;
    /* max-width: 600px; */
    margin: auto;
}
.exercise-progress-container {
    height: 20px;
    border: 1px solid var(--grey);
    background-color: var(--bg-2);
    border-radius: 10px;
}
.exercise-progress {
    height: 20px;
    border-radius: 10px;
    background-color: var(--accent);
    transition: width 0.5s ease;
}
.exercise-assembled {
    min-height: 60px;
    /* border: 1px dashed #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    /* border-radius: 8px; */
    border-top: 2px dotted var(--grey);
    border-bottom: 2px dotted var(--grey);
}
.exercise-unused {
    min-height: 60px;
    /* border: 1px dashed #ccc; */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.exercise-footer {
    display: flex;
    gap: 10px;
    align-items: center;
}
.exercise-footer p {
    margin: 0;
}
.exercise-button {
    font-size: 110%;
    min-width: 20%;
    flex-shrink: 0;
}
.chip {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 10px 17px;
    border-radius: 15px;
    border: 1px solid var(--grey-1);
    box-shadow: 0px 2px var(--grey-1);
    margin: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 120%;
    font-family: inherit;
    /* font-family: "nasin-nanpa", Arial, sans-serif; */
}
.chip:not(.hidden):active {
    box-shadow: 0 0;
    transform: translate(0, 2px);
    /* background-color: #400; */
}
.hidden {
    cursor: initial;
    color: var(--grey-1);
    background-color: var(--grey-1);
}
