:root {
    --accent: #d46000;
    --accent-1: #7d3900;
    --accent-bg: #f4cbaa;
    --button-in: #e3e3e3;
    --button-out: #979797;
}
.dark {
    --accent: #e78533;
    --accent-1: #f3b682;
    --accent-bg: #3c200a;
    --button-in: #616161;
    --button-out: #202020;
}

.sp {
    font-size: 150%;
}
.sl {
    font-style: italic;
}
/*
Section dedicated to the React widget;
I don't like React's native CSS handling
So into global.css it goes
*/

.exercise {
    padding: 20px;
    /* max-width: 600px; */
    margin: auto;
}
.exercise-progress-container {
    height: 20px;
    border: 1px solid var(--grey);
    background-color: var(--bg-2);
    border-radius: 10px;
}
.exercise-progress {
    height: 20px;
    border-radius: 10px;
    background-color: var(--accent);
    transition: width 0.5s ease;
}
.exercise-assembled {
    min-height: 60px;
    /* border: 1px dashed #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    /* border-radius: 8px; */
    border-top: 2px dotted var(--grey);
    border-bottom: 2px dotted var(--grey);
}
.exercise-unused {
    min-height: 60px;
    /* border: 1px dashed #ccc; */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.exercise-footer {
    display: flex;
    gap: 10px;
    align-items: center;
}
.exercise-footer p {
    margin: 0;
}
.exercise-button {
    font-size: 110%;
    min-width: 20%;
    flex-shrink: 0;
}
.chip {
    display: inline-block;
    background-color: var(--bg-2);
    padding: 10px 17px;
    border-radius: 15px;
    border: 1px solid var(--grey-1);
    box-shadow: 0px 2px var(--grey-1);
    margin: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 120%;
    font-family: inherit;
}
.chip:not(.hidden):active {
    box-shadow: 0 0;
    transform: translate(0, 2px);
}
.hidden {
    cursor: initial;
    color: var(--grey-1);
    background-color: var(--grey-1);
}
