@font-face {
    font-family: "nasin-nanpa";
    src: url("/nasin-nanpa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+F1900-F19FF;
}

:root {
    --bg: #fff;
    --bg-1: #f3f3f3;
    --bg-2: #eee;
    --bg-3: #ccc;
    --txt: #111;
    --grey: #666;
    --grey-1: #bbb;
    --accent: #d46000;
    --accent-1: #7d3900;
    --accent-bg: #f4cbaa;
    --button-in: #e3e3e3;
    --button-out: #979797;
}
.dark {
    --bg: #111;
    --bg-1: #1b1b1b;
    --bg-2: #333;
    --bg-3: #4c4c4c;
    --txt: #dbdbdb;
    --grey: #999;
    --grey-1: #666;
    --accent: #e78533;
    --accent-1: #f3b682;
    --accent-bg: #3c200a;
    --button-in: #616161;
    --button-out: #202020;
}

body {
    margin: 1rem;
    font-family: "nasin-nanpa", "Nunito", "Noto Sans Hebrew", sans-serif;
    color: var(--txt);
    line-height: 1.7em;
    font-size: 18px;
    background-color: var(--bg);
}

* {
    transition:
        color 0.2s,
        background-color 0.2s,
        border 0.2s;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }
}

img {
    max-width: 100%;
    max-height: 400px;
    margin: auto;
    display: block;
}

main {
    max-width: 750px;
    margin: auto;
    margin-bottom: 35px;
    text-align: justify;
}
a {
    color: var(--accent);
    text-decoration: underline dotted;
    text-underline-position: under;
    font-weight: bold;
}

a:visited {
    color: var(--accent);
}
a:active,
a:hover {
    color: var(--accent-1) !important;
}

button {
    color: inherit;
}

audio {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 0.75em 0;
    font-size: 1.75em;
    line-height: 120%;
}

table {
    width: 100%;
    text-align: initial;
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
td {
    border-collapse: collapse;
    padding: 5px 10px;
}
th,
tr:nth-child(even) {
    background-color: var(--bg-1);
}

hr {
    color: var(--grey-1);
}

.sp {
    font-size: 150%;
}
.sl {
    font-style: italic;
}
/*
Section dedicated to the React widget;
I don't like React's native CSS handling
So into global.css it goes
*/

.exercise {
    padding: 20px;
    /* max-width: 600px; */
    margin: auto;
}
.exercise-progress-container {
    height: 20px;
    border: 1px solid var(--grey);
    background-color: var(--bg-2);
    border-radius: 10px;
}
.exercise-progress {
    height: 20px;
    border-radius: 10px;
    background-color: var(--accent);
    transition: width 0.5s ease;
}
.exercise-assembled {
    min-height: 60px;
    /* border: 1px dashed #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    /* border-radius: 8px; */
    border-top: 2px dotted var(--grey);
    border-bottom: 2px dotted var(--grey);
}
.exercise-unused {
    min-height: 60px;
    /* border: 1px dashed #ccc; */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.exercise-footer {
    display: flex;
    gap: 10px;
    align-items: center;
}
.exercise-footer p {
    margin: 0;
}
.exercise-button {
    font-size: 110%;
    min-width: 20%;
    flex-shrink: 0;
}
.chip {
    display: inline-block;
    background-color: var(--bg-2);
    padding: 10px 17px;
    border-radius: 15px;
    border: 1px solid var(--grey-1);
    box-shadow: 0px 2px var(--grey-1);
    margin: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 120%;
    font-family: inherit;
}
.chip:not(.hidden):active {
    box-shadow: 0 0;
    transform: translate(0, 2px);
}
.hidden {
    cursor: initial;
    color: var(--grey-1);
    background-color: var(--grey-1);
}
