---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Paraula</th>
      <th>Significat</th>
      <th>Pistes útils</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="mi" />
      <td>jo</td>
      <td></td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kasi" />
      <td>poder</td>
      <td>Recorda que la lletra <b>s</b> no es distingeix entre sorda i sonora. De fet, es sol pronunciar sorda!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>persona</td>
      <td>No oblidis com es pronuncia la lletra <b>j</b>! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kute" />
      <td>sentir</td>
      <td>La lletra -<b>e</b> del final no es pronuncia neutra com en català oriental, sinó com en català occidental! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>nombre</td>
      <td
        >Per cert, s'escriu <b>np</b>, però se sol pronunciar <b>mp</b>!
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>so</td>
      <td>Mira de pronunciar la primera síl·laba com a tònica!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>llangardaix</td>
      <td>Les paraules també poden començar en vocal!</td>
    </tr>
  </tbody>
</table>
