---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import PostList from "@/components/PostList.astro";
import List from "@/components/List.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import { getCollection, render } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) =>
    a.filePath > b.filePath ? -1 : b.filePath > a.filePath ? 1 : 0,
);
const meta = (await getCollection("meta")).find((post) => post.id == "index")!;

const { Content: Meta } = await render(meta);
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <section>
                <Meta />
            </section>
            <section>
                <h2>Part 1: first steps!</h2>
                <p>
                    Talk about animals, people, places, and activities.<br
                    />Learn your first 40 words!<br />
                    At the end of this part, you will read a short story.
                </p>
                <PostList
                    posts={posts.filter((post) =>
                        post.filePath!.includes("/basics-1"),
                    )}
                />
                <h2>Part 2: keep going!</h2>
                <p>
                    Talk about home, materials, society, and be expressive.<br
                    />Learn your next 38 words!<br />At the end of this part,
                    you will read a dialogue.
                </p>
                <PostList
                    posts={posts.filter((post) =>
                        post.filePath!.includes("/basics-2"),
                    )}
                />
                <h2>Part 3: wrapping up!</h2>
                <p>
                    Talk about time, space, numbers, colours, and more!<br
                    />Finish learning your 131 words!
                </p>
                <PostList
                    posts={posts.filter((post) =>
                        post.filePath!.includes("/basics-3"),
                    )}
                />
                <h2>Learn more!</h2>
                <p>
                    Do you have some unanswered questions? There is always more
                    to learn!
                </p>
                <PostList
                    posts={posts.filter((post) =>
                        post.filePath!.includes("/more"),
                    )}
                />
            </section>
        </main>
        <Footer />
    </body>
</html>
