---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import PostList from "@/components/PostList.astro";
import { getCollection, render } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) =>
  a.data.order > b.data.order ? -1 : b.data.order > a.data.order ? 1 : 0,
);
const meta = (await getCollection("meta")).find((post) => post.id == "ru")!;

const { Content: Meta } = await render(meta);
---

<html lang="ru">
  <head>
    <BaseHead title={"Wasona"} description={"курс токи поны для чайников"} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <Meta />
      </section>
    </main>
    <Footer />
  </body>
</html>
