---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>Parola</th>
      <th>Significato</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="wan" />
      <td>uno</td>
      <td>Ricordare come si pronuncia la lettera <b>w</b> ! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>persona</td>
      <td>Ricordare come si pronuncia la lettera <b>j</b> ! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="mute" />
      <td>molto, molti</td>
      <td>Non si pronuncia come in Inglese! Le lettere si pronunciano tutte, come in Italiano! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>numero</td>
      <td
        >Anche se si scrive <b>np</b>, tendenzialmente si pronuncia <b>mp</b>!
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>suono</td>
      <td>L'accento va sempre sulla prima sillaba: la parola è sdrucciola!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>lucertola</td>
      <td>Le parole possono iniziare per vocale!</td>
    </tr>
  </tbody>
</table>
