<style>
    footer {
        max-width: 1000px;
        text-align: center;
        border-top: 5px dotted var(--accent);
        padding: 20px 0;
        margin: auto;
        margin-bottom: 100px;
    }
    p {
        color: #777;
    }
    a {
        display: inline-block;
        text-decoration: auto;
        font-weight: initial;
    }
</style>

<footer>
    <p>
        Made by kala Asi. Inspired by past courses and Tom Scott's newsletter.
    </p>
</footer>
