<style>
  footer {
    max-width: 850px;
    text-align: center;
    border-top: 5px dotted var(--accent);
    padding: 20px 0;
    margin: auto;
    margin-bottom: 100px;
    color: #777;
  }
  a {
    display: inline-block;
    text-decoration: auto;
    font-weight: initial;
  }
</style>

<footer>
  Made by <a href="https://kala-asi.li.pona.la"
    >kala Asi with help from the community.</a
  ><br />
  Text is dual-licensed under <a
    href="https://creativecommons.org/licenses/by-sa/4.0/deed.en"
    >CC-BY-SA-4.0</a
  > and <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en"
    >CC-BY-SA-3.0</a
  >.<br />Source code licensed under <a
    href="https://www.gnu.org/licenses/gpl-3.0.html">GPL-3.0</a
  > and hosted on <a href="https://github.com/wasona/wasona">GitHub</a>.
</footer>
