<style>
  .sentences {
    text-align: initial;
    border-left: 2px dotted var(--grey);
  }
  .sentences:dir(rtl) {
    border-left: initial;
    border-right: 2px dotted var(--grey);
  }
</style>
<div class="sentences">
  <slot />
</div>
