---
import { encode } from "@/lib/ucsur";
interface Props {
  right: boolean;
  left: boolean;
  // sitelen pona
  sp?: string;
  // sitelen Lasina
  sl: string;
  // translation
  m: string;
}
const onclick = "this.classList.toggle('revealed')";
const { sp, sl, m, right } = Astro.props;
const sp_ = sp || encode(sl);
---

<style>
  p {
    display: flex;
    margin: 10px 0;
  }
  span {
    padding: 10px 15px;
    background-color: var(--accent-bg);
    border-radius: 20px;
    /* font-family: "nasin-nanpa", sans-serif; */
    max-width: 559px;
    text-align: initial;
    display: none;
  }
  .left:dir(ltr) span,
  .right:dir(rtl) span {
    border-bottom-left-radius: 0;
  }
  .right:dir(ltr) span,
  .left:dir(rtl) span {
    border-bottom-right-radius: 0;
  }
  .right {
    flex-direction: row-reverse;
  }
</style>

<style is:global>
  .tabbed-sp span:nth-child(1) {
    display: initial;
  }
  .tabbed-sl span:nth-child(2) {
    display: initial;
  }
  .tabbed-m span:nth-child(3) {
    display: initial;
  }
</style>
<p class={right ? "right" : "left"}>
  <span dir="ltr" class="sp" set:html={sp_} />
  <span dir="ltr" set:html={sl} />
  <span set:html={m} />
</p>
