---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>מילה</th>
      <th>משמעות</th>
      <th>טיפים</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="mi" />
      <td>אני/אנחנו</td>
      <td>אותה הגיה כמו המילה האנגלית 'me', אבל משמעות קצת אחרת</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="ken" />
      <td>יכול, מסוגל</td>
      <td>דומה למילה האנגלית 'can', אבל האיות שונה</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>איש, בנאדם</td>
      <td>לא לשכוח שאת האות<b>j</b> מבטאים כמו 'y'! </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kute" />
      <td>לשמוע, להאזין</td>
      <td>מבטאים את המילה עם שתי הברות: ku-te</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>מספר</td>
      <td>בהגייה של המילה, הרצף <b>np</b> נשמע לרוב כמו 'mp'.
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>קול, צליל</td>
      <td>לא לשכוח שהדגש על ההברה הראשונה!</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>לטאה, ממשפחת הזוחלים</td>
      <td>דוגמא למילה שמתחילה עם תנועה ולא עם עיצור!</td>
    </tr>
  </tbody>
</table>
