---
import Audio from "@/components/Audio.astro";
import { locales } from "@/lib/i18n";

const _ = (text: string) => locales[Astro.url.pathname.split("/")[1]][text];
---

<style is:global>
  #phono * {
    text-align: center;
  }
</style>
<style>
  h3 {
    margin: 5px;
  }
  #phono table {
    table-layout: fixed;
    width: calc(100% - 1px);
    margin: auto;
  }
  #phono {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: 600px) {
    #phono {
      flex-direction: row;
    }
  }
</style>

<div id="phono">
  <div id="consonants">
    <h3>{_("Consonants")}</h3>
    <table>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>{_("Labial")}</th>
          <th>{_("Coronal")}</th>
          <th>{_("Dorsal")}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{_("Nasal")}</td> -->
          <Audio td from="wikimedia/ipa" text="m" file="m_Bilabial_nasal" />
          <Audio td from="wikimedia/ipa" text="n" file="n_Alveolar_nasal" />
          <td></td>
        </tr>
        <tr>
          <!-- <td>{_("Stop")}</td> -->
          <Audio
            td
            from="wikimedia/ipa"
            text="p"
            file="p_Voiceless_bilabial_plosive"
          />
          <Audio
            td
            from="wikimedia/ipa"
            text="t"
            file="t_Voiceless_alveolar_plosive"
          />
          <Audio
            td
            from="wikimedia/ipa"
            text="k"
            file="k_Voiceless_velar_plosive"
          />
        </tr>
        <tr>
          <!-- <td>{_("Fricative")}</td> -->
          <td></td>
          <Audio
            td
            from="wikimedia/ipa"
            text="s"
            file="s_Voiceless_alveolar_sibilant"
          />
          <td></td>
        </tr>
        <tr>
          <!-- <td>{_("Approximant")}</td> -->
          <Audio
            td
            from="wikimedia/ipa"
            text="w"
            file="w_Voiced_labio-velar_approximant"
          />
          <Audio
            td
            from="wikimedia/ipa"
            text="l"
            file="l_Alveolar_lateral_approximant"
          />
          <Audio
            td
            from="wikimedia/ipa"
            text="j"
            file="j_Palatal_approximant"
          />
        </tr>
      </tbody>
    </table>
  </div>
  <div id="vowels">
    <h3>{_("Vowels")}</h3>
    <table>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th set:html={_("Front")} />
          <th set:html={_("Central")} />
          <th set:html={_("Back")} />
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{_("High")}</td> -->
          <Audio
            td
            from="wikimedia/ipa"
            text="i"
            file="i_Close_front_unrounded_vowel"
          />
          <td></td>
          <Audio
            td
            from="wikimedia/ipa"
            text="u"
            file="u_Close_back_rounded_vowel"
          />
        </tr>
        <tr>
          <!-- <td>{_("Mid")}</td> -->
          <Audio
            td
            from="wikimedia/ipa"
            text="e"
            file="e_Mid_front_unrounded_vowel"
          />
          <td></td>
          <Audio
            td
            from="wikimedia/ipa"
            text="o"
            file="o_Mid_back_rounded_vowel"
          />
        </tr>
        <tr>
          <!-- <td>{_("Low")}</td> -->
          <td></td>
          <Audio
            td
            from="wikimedia/ipa"
            text="a"
            file="a_Open_central_unrounded_vowel"
          />
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
