---
import Audio from "@/components/Audio.astro";
---

<style is:global>
  #phono * {
    text-align: center;
  }
</style>
<style>
  h3 {
    margin: 5px;
  }
  #phono table {
    table-layout: fixed;
    width: calc(100% - 1px);
    margin: auto;
  }
  #phono {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: 600px) {
    #phono {
      flex-direction: row;
    }
  }
</style>

<div id="phono">
  <div id="consonants">
    <h3>Consonants</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Labial</th>
          <th>Coronal</th>
          <th>Dorsal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nasal</td>
          <Audio td from="ipa" file="m" />
          <Audio td from="ipa" file="n" />
          <td></td>
        </tr>
        <tr>
          <td>Stop</td>
          <Audio td from="ipa" file="p" />
          <Audio td from="ipa" file="t" />
          <Audio td from="ipa" file="k" />
        </tr>
        <tr>
          <td>Fric.</td>
          <td></td>
          <Audio td from="ipa" file="s" />
          <td></td>
        </tr>
        <tr>
          <td>Appr.</td>
          <Audio td from="ipa" file="w" />
          <Audio td from="ipa" file="l" />
          <Audio td from="ipa" file="j" />
        </tr>
      </tbody>
    </table>
  </div>
  <div id="vowels">
    <h3>Vowels</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Front</th>
          <th>Central</th>
          <th>Back</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>High</td>
          <Audio td from="wasona/ipa" file="i" />
          <td></td>
          <Audio td from="wasona/ipa" file="u" />
        </tr>
        <tr>
          <td>Mid</td>
          <Audio td from="wasona/ipa" file="e" />
          <td></td>
          <Audio td from="wasona/ipa" file="o" />
        </tr>
        <tr>
          <td>Low</td>
          <td></td>
          <Audio td from="wasona/ipa" file="a" />
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
