<style>
  #phono,
  td {
    text-align: center;
  }
  #phono {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: 600px) {
    #phono {
      flex-direction: row;
    }
  }

  #phono table {
    table-layout: fixed;
    width: calc(100% - 1px);
    margin: auto;
  }
  td:not(.no-audio) {
    font-size: 120%;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
  }
  td:not(.no-audio):hover {
    background-color: var(--bg-3);
  }
</style>

<script lang="javascript">
  const link = (text) =>
    `https://raw.githubusercontent.com/wasona/wasona/main/public/audio/ipa/${text.replaceAll(/[\.\!\?]/g, "").replaceAll(" ", "-")}.mp3`;

  const play = (letter) => {
    new Audio(link(letter)).play().catch((e) => {});
  };
</script>

<div id="phono">
  <div id="consonants">
    <span>
      <b>Consonants</b>
    </span>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Labial</th>
          <th>Coronal</th>
          <th>Dorsal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="no-audio">Nasal</td>
          <td onclick="play('m')">m</td>
          <td onclick="play('n')">n</td>
          <td class="no-audio"></td>
        </tr>
        <tr>
          <td class="no-audio">Stop</td>
          <td onclick="play('p')">p</td>
          <td onclick="play('t')">t</td>
          <td onclick="play('k')">k</td>
        </tr>
        <tr>
          <td class="no-audio">Fric.</td>
          <td class="no-audio"></td>
          <td onclick="play('s')">s</td>
          <td class="no-audio"></td>
        </tr>
        <tr>
          <td class="no-audio">Appr.</td>
          <td onclick="play('w')">w</td>
          <td onclick="play('l')">l</td>
          <td onclick="play('j')">j</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="vowels">
    <span>
      <b>Vowels</b>
    </span>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Front</th>
          <th>Central</th>
          <th>Back</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="no-audio">High</td>
          <td onclick="play('i')">i</td>
          <td class="no-audio"></td>
          <td onclick="play('u')">u</td>
        </tr>
        <tr>
          <td class="no-audio">Mid</td>
          <td onclick="play('e')">e</td>
          <td class="no-audio"></td>
          <td onclick="play('o')">o</td>
        </tr>
        <tr>
          <td class="no-audio">Low</td>
          <td class="no-audio"></td>
          <td onclick="play('a')">a</td>
          <td class="no-audio"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
