---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>מילה</th>
      <th>משמעות</th>
      <th>טיפים</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="mi" />
      <td>אני/אנחנו</td>
      <td>
	  יש להגות כמו המילה 'מי'!
	  </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>איש, בנאדם</td>
      <td>
        לא לשכוח שאת האות <b>j</b> יש להגות כמו ג'!
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kute" />
      <td>לשמוע, להאזין</td>
      <td>
	     מבטאים את המילה עם שתי הברות: קוּ + טֶה.
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>מספר</td>
      <td>
	    הרצף <b>np</b> נשמע לרוב כמו 'מפ' במילה 'שמפו'.
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>קול, צליל</td>
      <td>
	    גם במילה של שלוש הברות, הדגש הוא על האות הראשונה <b>ק</b>-ל-מה.
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>לטאה, ממשפחת הזוחלים</td>
      <td>
        דוגמא למילה שמתחילה עם תנועה ולא עם עיצור!
      </td>
    </tr>
  </tbody>
</table>
