---
import Audio from "@/components/Audio.astro";
import { locales } from "@/lib/i18n";

const _ = (text: string) => locales[Astro.url.pathname.split("/")[1]][text];
---

<style is:global>
  #phono * {
    text-align: center;
  }
</style>
<style>
  h3 {
    margin: 5px;
  }
  #phono table {
    table-layout: fixed;
    width: calc(100% - 1px);
    margin: auto;
  }
  #phono {
    display: flex;
    flex-direction: column;
  }
  @media only screen and (min-width: 600px) {
    #phono {
      flex-direction: row;
    }
  }
</style>

<div id="phono">
  <div id="consonants">
    <h3>{_("Consonants")}</h3>
    <table>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>{_("Labial")}</th>
          <th>{_("Coronal")}</th>
          <th>{_("Dorsal")}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{_("Nasal")}</td> -->
          <Audio td from="ipa" file="m" />
          <Audio td from="ipa" file="n" />
          <td></td>
        </tr>
        <tr>
          <!-- <td>{_("Stop")}</td> -->
          <Audio td from="ipa" file="p" />
          <Audio td from="ipa" file="t" />
          <Audio td from="ipa" file="k" />
        </tr>
        <tr>
          <!-- <td>{_("Fricative")}</td> -->
          <td></td>
          <Audio td from="ipa" file="s" />
          <td></td>
        </tr>
        <tr>
          <!-- <td>{_("Approximant")}</td> -->
          <Audio td from="ipa" file="w" />
          <Audio td from="ipa" file="l" />
          <Audio td from="ipa" file="j" />
        </tr>
      </tbody>
    </table>
  </div>
  <div id="vowels">
    <h3>{_("Vowels")}</h3>
    <table>
      <thead>
        <tr>
          <!-- <th></th> -->
          <th set:html={_("Front")} />
          <th set:html={_("Central")} />
          <th set:html={_("Back")} />
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>{_("High")}</td> -->
          <Audio td from="wasona/ipa" file="i" />
          <td></td>
          <Audio td from="wasona/ipa" file="u" />
        </tr>
        <tr>
          <!-- <td>{_("Mid")}</td> -->
          <Audio td from="wasona/ipa" file="e" />
          <td></td>
          <Audio td from="wasona/ipa" file="o" />
        </tr>
        <tr>
          <!-- <td>{_("Low")}</td> -->
          <td></td>
          <Audio td from="wasona/ipa" file="a" />
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
