---
import List from "@components/List.astro";
interface Props {
    posts: any[]; // todo: type this properly
}
const { posts } = Astro.props;
---

<style>
    .post {
        padding: 10px 15px;
    }
    .post:nth-child(odd) {
        background-color: var(--bg-1);
    }
    .post * {
        margin: 0px;
    }
</style>
<List>
    {
        posts.reverse().map((post) => (
            <div class="post">
                <h3>
                    <a href={`./${post.id}/`}>{post.data.title}</a>
                </h3>
                <p>{post.data.richDescription || post.data.description}</p>
            </div>
        ))
    }
</List>
