---
import List from "@/components/List.astro";
interface Props {
  posts: any[]; // todo: type this properly
}
const { posts } = Astro.props;
---

<ul>
  {
    posts.reverse().map((post) => (
      <li class="post">
        <a href={`/${post.id}/`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
