---
import Practice from "@/components/game/Practice.svelte";
import { type Exercise } from "@/lib/exercise";
import { locales } from "@/lib/i18n";
interface Props {
  exercises: Exercise[];
}
const { exercises } = Astro.props;
const lang = Astro.url.pathname.split("/")[1] ?? "en";
console.log("current locale:", lang);
const locale = locales[lang];
---

<h2>Let's practice!</h2>
<Practice exercises={exercises} locale={locale} client:load />
