---
import { locales } from "@/utils/i18n";
import { type CollectionEntry } from "astro:content";
interface Props {
  prevnext: {
    prev?: CollectionEntry<"blog">;
    next?: CollectionEntry<"blog">;
  };
}
const { prevnext } = Astro.props;

const lang = Astro.url.pathname.split("/")[1];
const _ = (text: string) => locales[lang][text];
---

<style>
  nav {
    width: 100%;
    display: flex;
    text-align: center;
    border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
  }
  a {
    flex: 1 1 0px;
    padding: 20px 0px;
  }
  a:first-child:dir(ltr),
  a:last-child:dir(rtl) {
    text-align: left;
  }
  a:first-child:dir(rtl),
  a:last-child:dir(ltr) {
    text-align: right;
  }
</style>

<nav>
  {
    prevnext.prev ? (
      <a href={"/" + prevnext.prev.id + "/"}>
        <span aria-hidden="true">«</span> {_("Previous")}
      </a>
    ) : (
      <a />
    )
  }
  <a href={lang == "en" ? "/" : `/${lang}/`}>{_("Index")}</a>
  {
    prevnext.next ? (
      <a href={"/" + prevnext.next.id + "/"}>
        {_("Next")} <span aria-hidden="true">»</span>
      </a>
    ) : (
      <a />
    )
  }
</nav>
