---
import { encode } from "@/utils/ucsur";
interface Props {
    // sitelen pona
    sp?: string;
    // sitelen Lasina
    sl: string;
    // translation
    m: string;
}
const { sp, sl, m } = Astro.props;
const sp_ = sp || encode(sl);
---

<style>
    p {
        display: flex;
        margin: 10px 0;
    }
    span {
        /* padding: 10px 15px; */
        display: none;
    }
</style>

<style is:global>
    .messenger-sp span:nth-child(1) {
        display: initial;
    }
    .messenger-sl span:nth-child(2) {
        display: initial;
    }
    .messenger-m span:nth-child(3) {
        display: initial;
    }
</style>
<p>
    <span class="sp" set:html={sp_} /><span set:html={sl} /><span
        set:html={m}
    />
</p>
