---
import { encode } from "@utils/ucsur";
interface Props {
    // sitelen pona
    sp?: string;
    // sitelen Lasina
    sl: string;
    // translation
    m: string;
    // spoiler shield for practice
    hide: "sp" | "sl" | "m";
}
const onclick = "this.classList.toggle('revealed')";
const { sp, sl, m, hide } = Astro.props;
---

<tr>
    <td
        class={hide == "sp" ? "sp spoiler" : "sp"}
        onclick={hide == "sp" ? onclick : ""}
        >{sp ? sp : encode(sl)}
    </td>
    <td
        class={hide == "sl" ? "spoiler" : ""}
        onclick={hide == "sl" ? onclick : ""}
        >{sl}
    </td>
    <td
        class={hide == "m" ? "spoiler" : ""}
        onclick={hide == "m" ? onclick : ""}
        >{m}
    </td>
</tr>
