---
import { locales } from "@/utils/i18n";
import { encode } from "@/utils/ucsur";
interface Props {
  // sitelen pona
  sp?: string;
  // sitelen Lasina
  sl: string;
  // translation
  m: string;
}
const { sp, sl, m } = Astro.props;
const sp_ = sp || encode(sl);
const lang = Astro.url.pathname.split("/")[1] ?? "en";
const locale = locales[lang];
---

<style>
  .sentence {
    padding: 15px 15px 5px 15px;
  }
  .sentence:nth-child(odd) {
    background-color: var(--bg-1);
  }
</style>
<div class="sentence">
  <span dir="ltr" class="sp" set:html={sp_} />
  <br />
  <span dir="ltr" class="sl" set:html={sl} />
  <br />
  <span class="maybe-hide" onclick="this.classList.toggle('maybe-hide')" data-tooltip={locale["reveal"]} set:html={m} />
</div>
