<table>
    <thead>
        <tr>
            <th class="sp">󱥠󱥔</th>
            <th>sitelen Lasina</th>
            <th>Meaning</th>
        </tr>
    </thead>
    <tbody>
        <slot />
    </tbody>
</table>
