<style>
  div {
    margin-top: 10px;
    text-align: center;
    opacity: 90%;
  }
  img {
    display: inline-block;
    max-width: 48px;
    border-radius: 5px;
  }
</style>
<div>
  <a href="https://github.com/pona-la/"><img src="svg/github.svg" /></a>
  <a href="https://www.youtube.com/@maponapitokipona/"
    ><img src="svg/youtube.svg" /></a
  >
  <a href="https://www.reddit.com/r/tokipona/"><img src="svg/reddit.svg" /></a>
  <a href="mailto:lawa@pona.la"><img src="svg/email.svg" /></a>
  <a href="https://bsky.app/profile/tokipona.net/"
    ><img src="svg/bluesky.svg" /></a
  >
  <a href="https://discord.gg/6zkugJFU4x"><img src="svg/discord.svg" /></a>
  <a href="https://toki.social/"><img src="svg/mastodon.svg" /></a>
  <a href="https://www.twitch.tv/maponapitokipona/"
    ><img src="svg/twitch.svg" /></a
  >
  <a href="https://app.element.io/#/room/#mapona:matrix.org"
    ><img src="svg/matrix.svg" /></a
  >
</div>
