---
import Bluesky from "@/assets/svg/bluesky.svg";
import Discord from "@/assets/svg/discord.svg";
import Email from "@/assets/svg/email.svg";
import Github from "@/assets/svg/github.svg";
import Reddit from "@/assets/svg/reddit.svg";
import Twitch from "@/assets/svg/twitch.svg";
import Youtube from "@/assets/svg/youtube.svg";
---

<style>
  div {
    margin-top: 10px;
    text-align: center;
    /*opacity: 90%;*/
  }
  a > * {
    margin: 3px;
    display: inline-block;
    max-width: 40px;
    border-radius: 10px;
  }
  svg {
    fill: #999;
  }
  html.dark svg {
    fill: #333;
  }
  /*svg:not(:hover) {
    fill: var(--grey);
  }*/
  svg:hover {
    /*fill: var(--accent) !important;*/
    transform: scale(1.1);
  }
</style>
<div>
  <a href="https://discord.gg/6zkugJFU4x"><Discord /></a>
  <!-- <a href="https://bsky.app/profile/"><Bluesky /></a> -->
  <a href="https://www.reddit.com/r/tokipona/"><Reddit /></a>
  <a href="mailto:lawa@pona.la"><Email /></a>
  <a href="https://www.youtube.com/@maponapitokipona/"><Youtube /></a>
  <!-- <a href="https://toki.social/"><Mastodon /></a> -->
  <a href="https://www.twitch.tv/maponapitokipona/"><Twitch /></a>
  <!-- <a href="https://github.com/pona-la/"><Github /></a> -->
  <!-- <a href="https://app.element.io/#/room/#mapona:matrix.org"><Matrix /></a> -->
</div>
