<style>
  div {
    margin: 10px 0;
    padding: 2px 15px;
    background: #ffff0022;
    border-left-width: 10px;
    border-left-style: solid;
    border-image: repeating-linear-gradient(
        45deg,
        black,
        black 5px,
        gold 5px,
        gold 10px
      )
      10;
  }
</style>

<div><slot /></div>
