---
import { encode } from "@/lib/ucsur";
interface Props {
  // sitelen pona
  sp?: string;
  // sitelen Lasina
  sl: string;
  // translation
  m: string;
  // spoiler shield for practice
  hide?: "sp" | "sl" | "m";
}
const onclick = "this.classList.toggle('revealed')";
const { sp, sl, m, hide } = Astro.props;
const sp_ = sp || encode(sl);
---

<style>
  .word {
    padding: 5px 15px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 15px;
    align-items: center;
  }
  .word:nth-child(odd) {
    background-color: var(--bg-1);
  }
  .sp {
    font-size: 200%;
    white-space: nowrap;
    vertical-align: middle;
  }
</style>
<div class="word">
  <div>
    <span dir="ltr" class="sp" set:html={sp_} />
  </div>
  <div>
    <span dir="ltr" class="sl" set:html={sl} />
    <br />
    <span set:html={m} />
  </div>
</div>
