---
import { encode } from "@/utils/ucsur";
import { wordTeachingOrder } from "@/utils/wordTeachingOrder";
interface Props {
  // sitelen pona
  sp?: string;
  // sitelen Lasina
  sl: string;
  // translation
  m: string;
  // spoiler shield for practice
  hide?: "sp" | "sl" | "m";
}

const onclick = "this.classList.toggle('revealed')";
const { sp, sl, m, hide } = Astro.props;
const sp_ = sp || encode(sl);
const id = wordTeachingOrder.includes(sl)
  ? wordTeachingOrder.indexOf(sl) + 1
  : undefined;
---

<style>
  .word {
    position: relative;
    padding: 5px 15px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 15px;
    align-items: center;
  }
  .word:nth-child(odd) {
    background-color: var(--bg-1);
  }
  .sp {
    font-size: 200%;
    white-space: nowrap;
  }
  .word-index {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 80%;
    color: var(--grey);
  }
</style>
<div class="word">
  {id && <div class="word-index">{id}</div>}
  <div>
    <span class="sp" set:html={sp_} />
  </div>
  <div>
    <span class="sl" set:html={sl} />
    <br />
    <span set:html={m} />
  </div>
</div>
