@font-face {
    font-family: "Noto Sans Hebrew";
    src: url("./styles/fonts/noto-sans-hebrew.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
    font-family: "Noto Sans Arabic";
    src: url("./styles/fonts/noto-sans-arabic.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891,
        U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
        U+FB50-FDFF, U+FE70-FEFF;
}

:root {
    --accent: #d46000;
    --accent-1: #7d3900;
    --accent-bg: #f4cbaa;
    --button-in: #e3e3e3;
    --button-out: #979797;
    --font:
        "nasin-nanpa", "Nunito", "Noto Sans Hebrew", "Noto Sans Arabic",
        sans-serif;
}
.dark {
    --accent: #e78533;
    --accent-1: #f3b682;
    --accent-bg: #3c200a;
    --button-in: #616161;
    --button-out: #202020;
}

html {
    /* Suppress the default blue tap highlight on mobile Chromium */
    -webkit-tap-highlight-color: transparent;
}

.sp {
    font-size: 150%;
}
.sl {
    font-style: italic;
}

.inputprefix {
    color: var(--accent);
}

.inputmatch {
    color: #0eb90e;
}
