:root {
    --accent: #d46000;
    --accent-1: #7d3900;
    --accent-bg: #f4cbaa;
    --button-in: #e3e3e3;
    --button-out: #979797;
    --font:
        "nasin-nanpa", "Nunito", "Noto Sans Hebrew", "Noto Sans Arabic",
        sans-serif;
}
.dark {
    --accent: #e78533;
    --accent-1: #f3b682;
    --accent-bg: #3c200a;
    --button-in: #616161;
    --button-out: #202020;
}

.sp {
    font-size: 150%;
}
.sl {
    font-style: italic;
}
